@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #46178f;
  color: white;
  font-family: 'Segoe UI', system-ui, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}
